*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/data/build
/domain/build
/presentation/build
/core/build
/data/schemas/com.imoviedb.app.data.storage.AppDatabase/1.json

/common/build/
